name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main

jobs:
  build_and_deploy_job:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    env: # Variables declared here for the entire job
      VUE_APP_ORDER_SERVICE_URL: http://order-service-app-a9htgzhpbugfe4h5.eastus-01.azurewebsites.net
      VUE_APP_PRODUCT_SERVICE_URL: http://product-service-app-cucqgzg2fecegtbq.eastus-01.azurewebsites.net
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          lfs: false

      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_LIVELY_FIELD_06589540F }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: "upload"
          app_location: "/" 
          api_location: "" 
          output_location: "dist" 
        env: # Mapping the job-level variables into the specific build step
          VUE_APP_ORDER_SERVICE_URL: ${{ env.VUE_APP_ORDER_SERVICE_URL }}
          VUE_APP_PRODUCT_SERVICE_URL: ${{ env.VUE_APP_PRODUCT_SERVICE_URL }}

  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_LIVELY_FIELD_06589540F }}
          action: "close"